.product-link{
  text-decoration: none;
}
.product-link:visited{
  text-decoration: none;
  color: black;
}
.object-grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;  
  column-gap: 80px;
  row-gap: 50px;
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 1000px) {
  .object-grid {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

@media (max-width: 750px) {
  .object-grid {
    grid-template-columns: 1fr 1fr ;
    row-gap: 25px;
    column-gap: 25px;
    padding-top: 60px;

  }
}


.object-card{
  position: relative;
  border:none;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.object-pic {
  width: 100%;
  
}
.object-infoGrid{
  margin-left: 10px;
  margin-right: 10px;

}

.object-title{
  margin-top: 10px;
  line-height: 5px;
  text-align: center;
  font-size: 18px;
  font-family:'Poppins', sans-serif;
  font-weight: bold;
  font-style: normal;
  
}

.object-description{
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}